@charset "UTF-8";

	header {
		margin: auto;	/* header의 양쪽 여백(margin) 동등하게 -> 수평가운데정렬 */
		justify-content: space-between; /* 가로축 정렬: 요소들 사이 동일 간격 */
	    align-items: center;	/* 세로축 정렬: 가운데 */
		height: 80px;
		width: 100%;
		display: flex;
		position: fixed; top: 0;	/* 스크롤시 헤더 고정 */
		border: solid 1px red;
		background-color: pink;
		padding: 2em;
		color: red;
	}
	#middle {
		border: solid 1px blue;
		background-color: skyblue;
		color: blue;
		margin-top: 80px; /* margin-top = header height; */
	}
	#middle:after { /* middle 정상 높이 가지게함 */
		content: "";
		display: block;
		clear: both;
	}
	aside {
		min-height: inherit;
		float: left;
		width: 20%;
		border: solid 1px orange;
		background-color: lime;
		padding: 2em;
	}
	#main {
		border: solid 1px green;
		background-color: yellow;
		float: right;
		width: 80%;
		min-height: 500px;
		padding: 2em;
		margin: auto;
		color: green;
	}
	footer {
		border: solid 1px red;
		background-color: pink;
		min-height: 100px;
		padding: 2em;
		margin: auto;
		text-align: center;
		color: red;
	}

/* ---------- MyAccountBook1 에서 가져온 css ---------- */
:root {
    --text-color: #66bb6a; 
    --background-color: #ffffa8;
    --topbott-color: #fff176;
    --selectedMenu-color: #2e7d32;
    --hoverMenu-color: #ffb300;
    --selectedMenu-under: white;
    --hoverMenu-under: #ffffa8;
}
/* //////////헤더 메뉴 //////////////// */
	header ul {
	    display: flex;
	}
	header ul li {
	    margin-left: 1.5rem;
	}

	header ul li a {
	    font-size: 1.2rem;
	    font-weight: 800;
	    padding-bottom: 5px;
	    color: var(--text-color); 
	}
/* 	header a:active { */
/* 	    border-bottom: 5px solid var(--selectedMenu-under); */
/* 	    color: var(--selectedMenu-color); */
/* 	} */
	header a:hover {
	    border-bottom: 5px solid var(--hoverMenu-under);
	    color: var(--hoverMenu-color);
	}
	
