@charset "UTF-8";

/* ---------- MyAccountBook1 에서 가져온 css ---------- */
:root {
    --text-color: #66bb6a; 
    --background-color: #ffffa8;
    --topbott-color: #fff176;
    --selectedMenu-color: #2e7d32;
    --hoverMenu-color: #ffb300;
    --selectedMenu-under: white;
    --hoverMenu-under: #ffffa8;
}

/* ---------- layout 확인용 보더&컬러 ---------- */
header{
	border: solid 1px red;
	background-color: pink;
}
#middle{
	border: solid 1px blue;
		background-color: skyblue;
}
aside{
	border: solid 1px orange;
	background-color: lime;
}
main{
	border: solid 1px green;
	background-color: yellow;
}
footer{
	border: solid 1px red;
	background-color: pink;
}