@charset "UTF-8";

/* ---------- header ---------- */
:root {
    --header-text-color: #66bb6a; 
    --header-hoverMenu-color: #ffb300;
    --header-hoverMenu-under: #ffffa8;
    --header-selectedMenu-color: white;
    --header-selectedMenu-under: #2e7d32;
}

/* ---------- aside ---------- */
:root {
    --aside-text-color: #ffb300; 
    --aside-hoverMenu-color: #66bb6a;
    --aside-hoverMenu-under: #2e7d32;
    --aside-selectedMenu-color: white;
    --aside-selectedMenu-under: #2e7d32;
}

/* ---------- footer ---------- */
:root {
    --footer-text-color: #66bb6a; 
    --header-hoverMenu-color: #ffb300;
    --header-hoverMenu-under: #ffffa8;
    --header-selectedMenu-color: white;
    --header-selectedMenu-under: #2e7d32;
}

/* ---------- layout 확인용 보더&컬러 ---------- */
header{
	border: solid 1px red;
	background-color: pink;
}
#middle{
	border: solid 1px blue;
	background-color: skyblue;
}
aside{
	border: solid 1px orange;
	background-color: lime;
}
main{
	border: solid 1px green;
	background-color: yellow;
}
footer{
	border: solid 1px red;
	background-color: pink;
}